@using CMS

@model CMS.Models.PostForm
@{ var area = Site.AreaName;}
@if (Model.PostType.EnableWidgets)
{
    <div class="panel-group accordion" id="accordionwidget">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordionwidget" href="#collapse_widget">
                        @AppResources.Instance.Get("Widgets")
                    </a>
                </h4>
            </div>
            <div id="collapse_widget" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        @*<div>
                                <a data-popuptitle="@AppResources.Instance.Get("ChooseWidget")" href="@Url.Action("mini", "widget")"
                                   class="btn btn-success btn-sm" data-loadtype="popup"><i class="fa fa-plus-square"></i></a>
                            </div>
                            <br />*@

                        <div id="itemkocontainer">
                            <div class="ko_container" @*style="border: 5px solid lightgrey"*@>
                                <input type="hidden" data-bind="value: getJson()" name="Widgets" />
                                <script id="rowtemp" type="text/html">
                                    <div class="rowitem">
                                        <div class="rowhead">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <span>Row</span>
                                                    <span data-bind="click:$parent.removerow" style="cursor: pointer">
                                                        <i class="fa fa-trash-o " style="color: #F3565D"></i>
                                                    </span>
                                                    <span data-bind="click:addcol" style="cursor: pointer">
                                                        <i class="fa fa-arrow-right " style="color: #45B6AF"></i>
                                                    </span>
                                                </div>
                                                <div class="col-lg-4">class <input type="text" data-bind="value: classname" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- ko template: { name: 'coltemp',foreach: cols } --><!-- /ko -->
                                        </div>
                                        <div class="rowfoot">
                                            <span data-bind="click:$parent.addrow.bind($data, $index())" style="cursor: pointer">
                                                <i class="fa fa-arrow-down " style="color: #45B6AF"></i> row
                                            </span>
                                        </div>
                                    </div>
                                </script>
                                <script id="coltemp" type="text/html">
                                    <div data-bind="attr:{class:'colbord col col-lg-' + lg() }">
                                        <div class="colhead">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <span>Col </span>
                                                    <span data-bind="click:$parent.removecol" style="cursor: pointer">
                                                        <i class="fa fa-trash-o " style="color: #F3565D"></i>
                                                    </span>
                                                    <span data-bind="click:addrow" style="cursor: pointer">
                                                        <i class="fa fa-arrow-down " style="color: #45B6AF"></i>
                                                    </span>
                                                    <input type="text" data-bind="value:lg" class="inputcol">
                                                </div>

                                                <div class="col-lg-4">
                                                    <span>class</span> <input type="text" data-bind="value: classname" />
                                                </div>
                                            </div>
                                        </div>


                                        <!-- ko template: { name: 'rowtemp',foreach: rows } --><!-- /ko -->

                                        <ul class="list-group" data-bind="sortable: widgets,visible:rows().length==0" style="margin: 0; padding: 0;">
                                            <li class="widget">

                                                <span data-bind="click:$parent.removewidget" style="cursor: pointer">
                                                    <i class="fa fa-trash-o " style="color: #F3565D"></i>
                                                </span>
                                                <span data-bind="text: title" class="media-heading" style="font-size: 16px;"></span>

                                            </li>
                                        </ul>
                                        <div class="colfoot">
                                            @*<a data-popuptitle="Choose Widget" href="@Url.Action("mini", "widget")"
                                                   class="btn btn-success btn-xs" data-loadtype="popup">
                                                    <i class="fa fa-plus-square"></i> Widget
                                                </a>*@
                                            <span data-bind="click:addwidget,visible:rows().length==0" style="cursor: pointer">
                                                <i class="fa fa-plus-circle " style="color: #45B6AF"></i> widget
                                            </span>
                                        </div>

                                    </div>
                                </script>
                                <div data-bind="template: { name: 'rowtemp', foreach: rows }">

                                    <div class="row">
                                        <!-- ko template: { name: 'coltemp',foreach: cols } --><!-- /ko -->
                                    </div>
                                </div>


                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="@area/Content/js/widget/postwidget.js"></script>
    <script>
        window.back.postwidget.init(@Html.Raw(Model.Widgets))
    </script>
}
<style>
    .inputcol {
        width: 20px;
        height: 15px;
    }

    .media-heading {
        font-family: "Open Sans", sans-serif;
    }

    .row {
        margin: 0 !important;
    }

    .rowfoot {
        margin-bottom: 3px;
        padding: 2px;
        text-align: center;
        background: #f0f0f0;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .colfoot {
        padding: 2px;
        text-align: center;
    }

    .rowitem {
        margin: 15px;
        margin-bottom: 25px;
    }

    .rowhead {
        background: #f0f0f0;
        padding: 5px;
        font-weight: bold;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .colhead {
        padding: 2px;
        background: #f9f9f9;
        border-bottom: 1px solid #ddd;
    }

    .colbord {
        border: 1px solid lightgrey;
        padding: 0;
    }

    .widget {
        text-align: center;
        position: relative;
        display: block;
        padding: 10px 15px;
        margin: 0;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }
</style>