@using Web.Models
@model PageViewModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@helper RenderRow(PageViewModel.RowViewModel row)
{
if (row.cols != null && row.cols.Any())
{
    var htmlrow = "<div class=\"row " + row.cssclass + "\">";
    var htmlrowclose = "</div>";
    var isrowopened = false;

    foreach (var col in row.cols)
    {
        if (!isrowopened)
        {
            isrowopened = true;
                @Html.Raw(htmlrow)
        }
            <div class="col-lg-@(col.lg) @col.cssclass">
                @if (col.rows.Any())
                {
                foreach (var colrow in col.rows)
                {
                @RenderRow(colrow)
                }
                }
                else {

                foreach (var widget in col.widgets)
                {
                    @Html.Partial(widget.viewPath, widget)
                }

                }
            </div>
    }
    if (isrowopened)
    {
            @Html.Raw(htmlrowclose)
    }

}
}


@*@model Kode.Web.Models.PostDetailsModel
    @{
    Html.AddTitleParts(T("HomePage").ToString());
    }*@


<header class="intro-header" style="background-image: url('/Themes/DefaultClean/Content/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@Model.title </h1>
                    <hr class="small">
                    <span class="subheading">@Model.shortDescription</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
@*<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @Html.Partial("~/Themes/DefaultClean/Views/Shared/_Widgets.cshtml")
            </div>
        </div>
    </div>*@

@foreach (var row in Model.rows)
{
    @RenderRow(row)
}