@using Mentis.Common.Models.Configs
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure
@model Web.Models.TermModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Term", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<Nop.Core.Domain.Common.CommonSettings>().BreadcrumbDelimiter;
}

@*category breadcrumb*@

<div class="page category-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
      
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @*subcategories*@
        @if (Model.Categories.Count > 0)
        {
            <div class="category-grid sub-category-grid">
                <div class="item-grid">
                    @foreach (var item in Model.Categories)
                    {
                        <div class="item-box">
                            <div class="sub-category-item">
                                <h2 class="title">
                                    <a href="@Url.RouteUrl("Term", new { SeName = item.SeName })" title="@item.Name">
                                        @item.Name
                                    </a>
                                </h2>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
      

@if (Model.Posts.Count > 0)
{
    <div class="product-list">
        <div class="item-grid">
            @foreach (var product in Model.Posts)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", product)
                </div>
            }
        </div>
    </div>
}
    </div>
</div>
